html, body {
    height: 100%;
    font-family:  sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #1F2937;
    color: white;
    padding: 8px;
    
    justify-content: space-around; 
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 48px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 8px;
    margin: 8px;
    color: white;
    border: 0;
    border-radius: 25px;
}

.card {
    border: 8px solid #3882F6;
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius: 25px;
}

.info-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 32px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.card-display {
    flex-wrap: wrap;
    max-width: 200px;
}

